
# Ignore terraform plugins and local state
prueba_v1c3nt3/infra/.terraform/
*.tfstate
*.tfstate.backup
# Ignore build artifacts
prueba_v1c3nt3/**/target/
prueba_v1c3nt3/**/*.jar
prueba_v1c3nt3/**/*.class
# Ignore backup git dirs
**/.git.bak
